@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap');

.header {
    font-family: 'Space Grotesk', sans-serif;
    padding: 3rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main {
    text-transform: uppercase;
}

.main h1 {
    font-size: 4rem;
}

.contacts {
    margin-top: 2rem;
}

.contacts a {
    position: relative;
    display: inline-block;
    margin: 2rem;
}

.contacts img {
    width: 48px;
    height: 48px;
}

.iconColor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s;
}

.iconColor:hover {
    opacity: 1;
}


.aboutHeader {
    composes: sectionHeader from '../../index.css';
    margin-bottom: 3rem;
}

.header .aboutHeader::after {
    width: 80%;
}

.about {
    composes: paragraphMain from '../../index.css';
    color: #b4b4b4;
    font-size: 1.2rem;
    line-height: 1.5;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    transform: scale(70%);
}

.arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}